nav.breadcrumbs 
    ul.list.breadcrumbs__list 
        li.breadcrumbs__item
            a.link.breadcrumbs__link Главная
        li.breadcrumbs__item.breadcrumbs__item_active
            a.link.breadcrumbs__link Монтаж дымоходов